* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Cores Principais (Identidade) */
  --azul-pao: rgb(0, 56, 117);          /* Azul oficial do logo e cabeçalhos */
  --azul-claro: rgb(0, 114, 206);        /* Azul das quadras e botões de ação */
  --texto-principal: rgb(50, 50, 50);    /* Cor padrão para parágrafos e textos longos */
  --branco-puro: rgb(255, 255, 255);     /* Para textos sobre fundos escuros */
  --cinza-claro: #f5f5f5; /* Backgorund em fundos de seção */
  --cor-preto: #333333;

  /* Fontes */
  --fonte-destaque: "Outfit", sans-serif;
  --fonte-texto: "Inter", sans-serif;

  /* Cores de Detalhe e Tradição (130 Anos) */
  --dourado-frio: rgb(197, 168, 115);    /* Cor dos ícones e selo comemorativo  */
  --fundo-off-white: rgb(248, 247, 242); /* Fundo suave para não cansar a vista */
  --azul-aco-divisor: rgb(165, 181, 201);/* Cor para linhas e bordas de separação */
  --azul-marinho-profundo: rgb(15, 35, 70);/* Usado em ícones de serviços */
  --cor-azul-escuro: #004a99; /* Hover de cards azul-pao */
  --cor-laranja-hover: #e65c00; /* Hover para botões laranjas */


  /* Cores de Inovação (Hub e Modernidade) */
  --rosa-hub: rgb(231, 46, 114);         /* Para seções modernas e áreas de convivência */
  --verde-agua-hub: rgb(0, 168, 176);    /* Ótimo para destacar cursos de tecnologia */
   --verde-agua: #00d1d3;  /* Mesma cor aqua azul do site oficial, para dar um destaque nos hovers */
   --azul-footer: #006F9A; /* Mesma cor do footer do site oficial */
  --laranja-alerta: rgb(243, 115, 33);    /* Para sinalizações ou botões de "Doe Agora" */
  --amarelo-hub: rgb(255, 212, 0);       /* Destaque para cursos de gastronomia */
}

body {
    font-family: var(--fonte-destaque);
}

p {
    color: var(--texto-principal);
    font-family: var(--fonte-texto);
}

.header {
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
}

.logo img {
    height: 50px;
    width: auto;
}

.nav-header ul {
    display: flex;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
}

.nav-header a {
    text-decoration: none;
    color: var(--azul-pao);
    font-weight: bold;
    font-size: 20px;
}

.main-destaque {
    background: url(../assets/img/professorjuliano-e-aluno.jpg) no-repeat center center;
    background-size: cover;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-main-destaque {
    padding: 0 20px;
    max-width: 500px;
}

.main-title {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 2px 1px 2px #333;
    margin-bottom: 25px;
}

.btn-main {
    color: var(--branco-puro);
    background-color: var(--laranja-alerta);
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
}

/* Sobre */

.sobre {
    padding: 6rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--cinza-claro);
}

.sobre-titulo {
    color: var(--azul-claro);
    font-size: 38px;
}

.texto-sobre {
    max-width: 500px;
    font-size: 18px;
    margin-top: 10px;
}

.box-card-destaque {
    display: flex;
    flex-wrap: wrap;
}

.card-destaque {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    background-color: #004a99;
    border-radius: 8px;
    padding: 25px;
    width: 250px;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.card-destaque span{
    font-size: 22px;
    color: #fff;
    text-align: center;
}

/* Cursos */

.curso-section {
    padding: 6rem 4rem;
}

.curso-titulo {
    color: var(--azul-claro);
    font-size: 38px;
    text-align: center;
    margin-bottom: 30px;
}

.curso-paragrafo {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 40px;
}

.cursos-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.card-curso {
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-curso img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.top-card {
    position: relative;
}

.card-badge {
    position: absolute;
    bottom: 15px;
    right: 12px;
    color: #fff;
    background-color: var(--verde-agua-hub);
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.card-conteudo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1.5rem;
}

.card-conteudo h4 {
    font-size: 22px;
    color: var(--azul-claro);
    margin: 15px 0;
    min-height: 56px;
    display: flex;
    align-items: center;
}

.card-conteudo p {
    margin-bottom: 20px;
    min-height: 72px;
}

.card-conteudo a {
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--verde-agua-hub);
    border-radius: 8px;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Faq */

.faq {
    background-color: var(--cinza-claro);
    padding: 2rem 4rem;
}

.faq__titulo {
    color: var(--azul-claro);
    padding-top: 6rem;
    margin-bottom: 30px;
    font-size: 32px;
}

.faq details {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.faq summary {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq p {
    font-size: 17px;
    line-height: 1.5rem;
    padding: 20px;
}

/* Media query */

@media(max-width: 900px){
    .header {
        margin-top: 6px;
        flex-direction: column;
        height: 25vh;
        padding: 10px 0 10px 0;
    }

    .nav-header a {
        font-size: 16px;
    }

    .main-destaque {
        padding: 0 1.5rem;
        height: 60vh;
    }

    .main-title {
        font-size: 24px;
    }

    .texto-main-destaque {
        max-width: 100%;
    }
}

/* media query seção sobre */

@media(max-width: 709px) {
    .box-card-destaque {
        justify-content: center;
        gap: 30px;
        margin-top: 15px;
    }

    .curso-section {
        padding: 3rem 1.25rem; 
    }

    .cursos-grid {
        grid-template-columns: 1fr; 
        gap: 24px;
    }
}

/* Celulares */
@media(max-width: 408px){
     .nav-header a {
        font-size: 13px;
    }
}

