.curso-banner {
    background-image: 
    linear-gradient(to right, rgba(13, 43, 82, 0.85), rgba(13, 43, 82, 0.15)), 
    url('../../assets/images/aprendizagem-profissional-suporte-ti.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-banner {
    text-shadow: 2px 1px 2px #333;
    text-align: center;
}

.texto-banner h1 {
    text-align: center;
    color: #fff;
    font-size: clamp(1.75rem, 5vw, 3.125rem);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 25px;
}

.texto-banner p {
    color: #fff;
    line-height: 1.5rem;
}

.skill-icone svg {
    width: 20px;
    height: 20px;
}

.info-icone svg {
    width: 20px;
    height: 20px;
}