.faq-container {
    display: flex;
    flex-direction: column;
}

.faq-banner {
    text-align: center;
    background: linear-gradient(135deg, #0066cc 0%, #004a99 50%, #001f4d 100%);
}

.titulo-faq {
    margin-bottom: 15px;
    color: #fff;
}

.paragrafo-faq {
    color: #fff;
}

.faq-corpo-titulo {
    color: var(--azul-pao);
    margin-bottom: 2rem;
}

.faq {
    padding-bottom: 1rem;
    margin-bottom: 2.5rem;
    border: 1px solid var(--linha-card);
    border-radius: 8px;
    padding: 2rem;
    cursor: pointer;
}

.faq.active {
    outline: none;
    border: 2px solid var(--azul-claro);
    border-color: var(--azul-claro);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-question-titulo {
    font-weight: 500;
    font-size: 1.3rem;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.9s ease;
    width: 100%;
}

.faq-answer-paragrafo {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.1rem;
}

.faq.active .faq-answer {
    max-height: 300px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

.svg-faq {
    transition: transform 0.5s ease-in;
    color: var(--azul-claro);
    width: 15px;
    height: 10px;
}

.svg-faq path {
    fill: none;
    stroke: currentColor;
}

.faq-cta {
    text-align: center;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: var(--azul-marinho-profundo);
    padding: 4rem;
    max-width: 900px;
    margin: 0 auto 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2rem);
    box-sizing: border-box;
} 

.faq-cta-titulo {
    color: #fff;
    margin-bottom: 25px;
}

.faq-cta-paragrafo {
    color: #fff;
    margin-bottom: 30px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* .faq {
    background-color: var(--cinza-claro);
    padding: 2rem 4rem;
}

.faq-titulo {
    color: var(--azul-claro);
    padding-top: 6rem;
    margin-bottom: 30px;
    font-size: 32px;
}

.faq details {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}

.faq summary {
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.paragrafo-faq {
    font-size: 17px;
    line-height: 1.5rem;
    padding: 20px;
}

@media(max-width: 586px) {
    
    .faq-titulo {
        font-size: 28px;
    }
} */