.sobre {
    padding: 6rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--cinza-claro);
}

.sobre-titulo {
    color: var(--azul-claro);
    font-size: 38px;
}

.texto-sobre {
    max-width: 500px;
    font-size: 18px;
    margin-top: 10px;
}

.box-card-destaque {
    display: flex;
    flex-wrap: wrap;
}

.card-destaque {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    background-color: #004a99;
    border-radius: 8px;
    padding: 25px;
    width: 250px;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.card-destaque span{
    font-size: 22px;
    color: #fff;
    text-align: center;
}

@media(max-width: 709px) {
    .box-card-destaque {
        justify-content: center;
        gap: 30px;
        margin-top: 15px;
    }

    
    .texto-sobre {
        margin: 35px 0;
    }
}

@media(max-width: 466px) {
    
    .sobre-titulo {
        font-size: 32px;
    }
}