html, body {
    scroll-behavior: smooth;
    overflow-x: clip;
    font-family: var(--fonte-destaque);
    background-color: var(--cinza-claro);
}

p {
    color: var(--texto-principal);
    font-family: var(--fonte-texto);
}

