.btn {
    color: var(--branco-puro);
    background-color: var(--laranja-alerta);
    border-radius: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.5s;
}

.btn:hover {
    background-color: var(--verde-agua-hub);
}

.ver-detalhes {
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: var(--azul-claro);
    border-radius: 8px;
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    display: block;
    border: none;
    transition: 0.5s;
}

.ver-detalhes:hover {
    background-color: var(--azul-pao);
}